.geral{
    display:flex;
}
.display-1{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 35px;

}
#carouselExampleAutoplaying{
    margin-top: 70px;
}

.principal {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.principal h1{
    margin-bottom: 70px;
}
.destino-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; 
}
.card-promocao{
    margin-bottom: 50px;
}
footer{
    display: flex;
    justify-content: space-between;
     
}

.footer_principal ul{
    display: flex;
    padding: 0;
}
.footer_principal li{
    list-style: none;
    margin-left: 10px;
}
.footer_secundario img{
    margin-left: 10px;
    
}
@media (max-width:801px) {
    footer{
        display: flex;
        flex-direction: column;
        position:absolute;
        bottom: 15px;
    }
}